/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans|Source+Code+Pro:wght@400,700,300');

/* Markdown */
:root {
  --white-color:#d6d6d6;
  --background-color: #2e2e2e;
  --highlight-color:#F92672;
  --border-color:#66D9EF;
  --alt-color: #E6DB74;
  --dark-alt-color: #AE81FF;
}

html {
  color: var(--white-color);
  background-color: var(--background-color);
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  line-height: 1.6em;
}

body {
  display: block;
  margin: 8px;
}

.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1ch;
  word-wrap: break-word;
}

a {
  border-bottom: 1px solid var(--highlight-color);
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--highlight-color);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Crimson Text', serif;
}

header {
  margin-bottom: 50px;
}

header .main{
  font-size: 3rem;
  font-family: 'Crimson Text', serif;
}

header .main a {
  border: none;
}

hr {
  border: 0;
  border-top: 1px dashed var(--border-color);
  margin: 1em 0;
}

pre {
  padding: 0.5em;
  font-family: 'Source Code Pro', monospace;
}

img, video {
  border: none;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footnote-ref {
  margin-left: 2px;
}

.meta {
  color: var(--alt-color);
  font-family: 'Source Code Pro', monospace;
}

time {
  color: var(--alt-color);
  font-family: 'Source Code Pro', monospace;
}

blockquote {
  border-left: 3px solid var(--border-color);
  color: var(--alt-color);
  margin: 0;
  padding-left: 1em;
}

footer p {
  color:var(--dark-alt-color);
  font-family: 'Source Code Pro', monospace;
  text-align: right;
}

code:not([class]) {
  color: var(--highlight-color);
}